---
import Layout from "../layouts/Layout.astro";
import Nav from "../sections/Nav.astro";
import Herobox from "../sections/Herobox.astro";
import HeroSection from "../sections/HeroSection.astro";
import CenterText from "../sections/CenterText.astro";
import MoreWays from "../sections/MoreWays.astro";
import Investors from "../sections/Investors.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Joe Robert: Helping You Compound Wealth Passively!">
    <body>
        <Nav />
        <Herobox />
        <HeroSection />
        <CenterText />
        <MoreWays />
        <Investors />
        <Footer />
    </body>
</Layout>
