---

---

<div class="social-share">
    <a href="/" class="social"><img src="./icons/facebookLogo.svg" alt="Facebook Logo"></a>
    <a href="/" class="social"><img src="./icons/twitterLogo.svg" alt="Twitter Logo"></a>
    <a href="/" class="social"><img src="./icons/linkedInLogo.svg" alt="LinkedIn Logo"></a>
    <a href="/" class="social"><img src="./icons/youtubeLogo.svg" alt="Youtube Logo"></a>
    <a href="/" class="social"><img src="./icons/instagramLogo.svg" alt="Instagram Logo"></a>
    <a href="/" class="social"><img src="./icons/tiktokLogo.svg" alt="TikTok Logo"></a>
</div>


<style>
        .social-share{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (min-width: 900px){

        .social-share{
            justify-content: start;
            gap: 2rem;
        }
    }
</style>