---

---

<div class="subscribe">
    <form>
        <input type="email" placeholder="Drop email to gain access">
        <input type="submit" value="Submit">
    </form> 
</div>

<style>

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

</style>