---

---

<div class="center-text">
    <div class="center-text-container">
        <h2>
            Hi-I'm Joe Robert. I help investors increase net worth by
            compounding knowledge
        </h2>

        <div class="text">
            <span>Dear Investor,</span>
            <p>
                Being an investor is about more than wealth—it's about shaping
                your future.
            </p>
            <p>
                We believe in investing with intention, focusing on long-term
                goals, not just short-term gains.
            </p>
            <p>
                Our question isn't just “how can I grow my wealth?”, but “how
                can this wealth build the life I envision?”
            </p>

            <p>
                It's about strategic, informed choices, not just accumulation.
            </p>
            <p>
                Our approach is balanced and thoughtful, blending risk and
                opportunity for sustainable growth.
            </p>
            <p>
                Sometimes our journey is a solo venture, but often we thrive in
                a community of like-minded investors, mentors, and financial
                experts.
            </p>
            <span>
                At the core, our mission is clear: <br> Secure financial freedom to
                realize our dreams and make decisions that matter.</span
            >
        </div>
    </div>
</div>

<style>
    .center-text {
        background-color: #140a40;
        color: #dbe2eb;
        padding: 4rem 1rem;
        text-align: center;
    }

    .center-text-container {
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: 500;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 3rem;
    }

    .text {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2.25rem;
        font-weight: 400;
    }

    span {
        color: #94d0ce;
    }

    @media only screen and (min-width: 600px) {
        .center-text-container {
            max-width: 510px;
        }
    }

    @media only screen and (min-width: 900px) {
        .center-text{
            padding: 8rem 1rem;
        }

        .center-text-container {
            max-width: 790px;
            font-size: 1.75rem;
            line-height: 2.5rem;
        }
        
        h2 {
        font-size: 3rem;
        line-height: 4rem;
    }
    }
</style>
