---
import Image from "astro/components/Image.astro";
import joeRobertImage from "../../public/images/Joe-Robert-Photo.png";
---

<div class="herobox">
    <div class="hero-title">
        <h1>
            Knowledge Fuels Your
            <span>Net&nbspWorth</span>
        </h1>
        <Image src={joeRobertImage} alt="Joe Robert." />
    </div>


</div>

<style>
    .herobox .hero-title {
        padding: 0 1rem;
        text-align: center;
    }

    .herobox .hero-title {
        padding: 1.5rem 1rem;
    }

    h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    span {
        color: #3c1fbf;
    }

    .herobox img {
        display: none;
    }

    @media only screen and (min-width: 600px) {
        .herobox .hero-title {
            padding: 0 2rem;
        }

        .herobox .hero-title {
            display: flex;
            align-items: center;
            padding-top: 2rem;
            padding-bottom: 0;
        }

        .herobox h1 {
            text-align: left;
        }

        .herobox img {
            max-width: 187px;
            height: auto;
            display: block;
        }
    }

    @media only screen and (min-width: 990px) {
        .herobox .hero-title{
            max-width: 1260px;
            margin: 0 auto;
        }

        h1 {
            font-size: 6rem;
            line-height: 7.75rem;
        }

        .herobox img {
            max-width: 318px;
        }
    }
</style>
