---
import Subscribe from "../components/Subscribe.astro";
import joeRobertLogo from "../../public/icons/joeRobertLogo.svg";
import Image from "astro/components/Image.astro";

const navLinks = [
    {
        name: "about",
        url: "#about",
    },
    {
        name: "newsletter",
        url: "#newsletter",
    },
    {
        name: "articles",
        url: "#articles",
    },
];
---

<style>
    .nav-header {
        padding: 2rem 1rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        background-color: #fefefe;
        border-bottom: 1px solid #dbe2eb;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);

        /* height: 100%; */
    }

    .nav-container {
        max-width: 1260px;
        margin: 0 auto;
    }

    .nav-buttons {
        display: flex;
        justify-content: space-between;
    }

    .navigation {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 1rem;
        padding-bottom: 3rem;

        display: none;
        opacity: 0;
    }

    ul {
        margin: 2rem 0;
    }

    li {
        padding: 2rem 0;
        border-bottom: 1px solid #dbe2eb;
    }

    li a {
        color: #546071;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .menu-subscribe {
        text-align: center;
    }

    .hero-second-subtitle {
        font-size: 1.125rem;
        line-height: 2rem;
        font-weight: 300;
        margin-bottom: 2rem;
        color: #2a3340;
    }

    .start {
        font-size: 2.25rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        color: #151a20;
    }

    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }

    @media only screen and (min-width: 600px) {
        .nav-header {
            padding: 2rem;
        }
    }
</style>

<div class="nav-header">
    <div class="nav-container">
        <div class="nav-buttons">
            <Image src={joeRobertLogo} alt="Joe Robert Logo" />

            <svg
                class="menu-button"
                width="32"
                height="22"
                viewBox="0 0 32 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <rect class="1-line" width="32" height="2" fill="#2A3340"
                ></rect>
                <rect class="2-line" y="10" width="32" height="2" fill="#2A3340"
                ></rect>
                <rect class="3-line" y="20" width="32" height="2" fill="#2A3340"
                ></rect>
            </svg>
        </div>

        <div class="navigation">
            <nav>
                <ul>
                    {
                        navLinks.map((link) => (
                            <li class="link-container">
                                <div class="link">
                                    <a href="${link.url}">{link.name}</a>
                                </div>
                            </li>
                        ))
                    }
                </ul>
            </nav>
            <div class="menu-subscribe">
                <p class="start">Start Here</p>

                <Subscribe />
            </div>
        </div>
    </div>
</div>

<script>
    const menubutton = document.querySelector(".menu-button");
    const navHeader = document.querySelector(".nav-header");
    const navigation = document.querySelector(".navigation");
    let toggler = 0;

    menubutton.addEventListener("click", function () {
        if (toggler == 0) {

            gsap.to("body", {height: "100%", overflow:"hidden"})

            gsap.to(".nav-header", { height: "100%", duration: 0.5 });

            gsap.to(".navigation", {
                display: "block",
                opacity: 1,
                delay: 0.5,
            });

            console.log("open");
            toggler = 1;
        } else {
            gsap.to("body", {height: "auto", overflow:"visible"})

            gsap.to(".navigation", {
                display: "none",
                opacity: 0,
                duration: 0,
            });

            gsap.to(".nav-header", { height: "auto", duration: 0.5 });

            console.log("closed");
            toggler = 0;
        }
    });
</script>
